## todo 
1. jupyter安装查看变量类型的插件

In [ ]:
income1=5000
income2=5000.00

In [3]:
income1

5000

In [11]:
print('income1的类型是：', type(income1));

income1的类型是： <class 'int'>

In [12]:
print('incode2d的类型：', type(income2))

incode2d的类型： <class 'float'>

注意： 括号左右对齐

In [14]:
isinstance(income1, int)

True

In [16]:
isinstance(income1,float)

False

整形，浮点型，布尔型

In [23]:
type(isinstance(income1,float))

bool

In [24]:
type(income1) == int

True

## 2.2 多变量赋值和基本运算

In [27]:
# 多类型赋值
a,b,c = 50,45.2, True

In [28]:
print('a = :',a)
print('b= :',b)
print('c=:',c)

a = : 50
b= : 45.2
c=: True

* (飞)这里在赋值的是要注意，bool 类型的True要注意大小写， 不能写成 true

In [29]:
 5+6

11

In [30]:
8-9.2

-1.1999999999999993

In [31]:
3 * 3.5

10.5

$3\times3.5=10.3$

In [38]:
2/3

0.6666666666666666

* 除法取整数位（双斜杠向下取整）

In [42]:
15/4

3.75

In [43]:
15/6

2.5

In [46]:
15//4

3

In [47]:
15//6

2

In [50]:
#整数取余数
11%4

3

上面的# 表示代码中的注视

In [53]:
# 使用round 方法进行四舍五入的运算，后面的2，表示保留小数位数
round(1/3,2)

0.33

In [55]:
# 2的三次方
2**3

8

$2^{x^2+y^2}$

上面的公式，是通过添加大括号将 x^ + y^2 都放在2的次方上

* 下面演示开根号

In [60]:
16**(0.5)

4.0

* 张三初始资产是1000元，年华收益率为3%，五年后资产预期是多少？

计算公式如下：
a 表示初始资产
b 表示年华收益率
c 表示多少年   
$a\times(1+b)^c$

$a\times(1+b)^c$

In [62]:
1000 * (1+0.03)**5

1159.2740743000002

In [66]:
print('五年后的资产是:', round(1000 * (1+0.03)**5,2), "CNY")

五年后的资产是: 1159.27 CNY

## 2.3字符串的长度和切片

In [69]:
fund1=500
fund2="500"

In [71]:
print('fund1 的数据类型：', type(fund1))
print('fund2 的数据类型：', type(fund2))

fund1 的数据类型： <class 'int'>
fund2 的数据类型： <class 'str'>

In [73]:
str = "this is my first code"
print(str)

this is my first code

In [75]:
len(str)

21

In [80]:
# python 的规则是 左闭右开
str[0:1]

't'

In [81]:
str[2:4]

'is'

In [82]:
str[2:5]

'is '

In [85]:
print('str=',str)

str= this is my first code

In [89]:
# 从头到尾，每4个取一个字符， 头这里用0 表示， 尾使用 len（str）， 
str[0:len(str):4]

't mi e'

In [88]:
# 获取第7个字符之后的所有字符
str[7:]

' my first code'

In [90]:
# 7之前的所有字符（不包括7，0-6）
str[:7]

'this is'

In [91]:
len(str[:7])

7

In [92]:
print('str=',str)

str= this is my first code

In [3]:
# 反向取, 从后往前取第2个字符
str[-2]

TypeError: 'type' object is not subscriptable

In [2]:
# 反向取, 从后往前取第4个字符
str[-4]

TypeError: 'type' object is not subscriptable

In [94]:
str[-2:]

'de'

## 2.4 字符串的连接

In [101]:
str = "This is my first code"
print('str=',str)

str= This is my first code

In [102]:
str + " python"

'This is my first code python'

In [105]:
a = (str,'python3')
a

('This is my first code', 'python3')

In [106]:
print('a=',a)

a= ('This is my first code', 'python3')

In [109]:
# 这里格式化代码  %(变量) 
a = "1234"
b="5%"
c="股东代码" + '%s'%(a)+'的收益率为' + '%s'%(b)
c

'股东代码1234的收益率为5%'

In [113]:
# 格式化代码 ， 通过format 
a="xxx"
b="2.5%"
c="{}市的GDP增速达到了{}." .format(a,b)
c

'xxx市的GDP增速达到了2.5%.'

In [115]:
print('重要的事情说三遍','python!'*3)

重要的事情说三遍 python!python!python!

In [120]:
# 输入变量有变化，输出变量随着变化
a,b,c,d,e = 'this ','is ','my ','first ','code '
sent=f'这{a}是{b}我的{c}第一个{d}代码{e}'
sent

'这this 是is 我的my 第一个first 代码code '

## 2.5 字符串的查找

In [123]:
string="这个股票非常奇怪，虽然各类指标都不是太好，但是股票交个却是一路走高。"
string

'这个股票非常奇怪，虽然各类指标都不是太好，但是股票交个却是一路走高。'

In [124]:
string.find('奇怪')

6

In [125]:
string.find('股票')

2

In [127]:
# 找不到的时候，返回-1
string.find('上市')

-1

In [128]:
# 从第6个字符开始找
string.find('股票',6)

23

In [129]:
string.find('非常',4)

4

In [130]:
string.index('股票')

2

In [131]:
# 使用index的时候，如果找不到会报错
string.index('上市')

ValueError: substring not found

In [133]:
# 逆向查找，但是下标依然从左到右计数
string.rindex('股票')

23

# 2.6 字符串的替换与删除

In [135]:
string="这个股票非常奇怪，虽然各类指标都不是太好，但是股票交个却是一路走高。你确定要买这个股票吗？"
string

'这个股票非常奇怪，虽然各类指标都不是太好，但是股票交个却是一路走高。你确定要买这个股票吗？'

In [137]:
old="股票"
new="资产"
string.replace(old,new)
print('替换后：',string.replace(old,new))
print('替换前：',string)

替换后： 这个资产非常奇怪，虽然各类指标都不是太好，但是资产交个却是一路走高。你确定要买这个资产吗？
替换前： 这个股票非常奇怪，虽然各类指标都不是太好，但是股票交个却是一路走高。你确定要买这个股票吗？

In [139]:
# string 中有三个股票，但是只想替换两个
string.replace(old,new,2)
print('替换后：',string.replace(old,new))
print('替换前：',string)

替换后： 这个资产非常奇怪，虽然各类指标都不是太好，但是资产交个却是一路走高。你确定要买这个资产吗？
替换前： 这个股票非常奇怪，虽然各类指标都不是太好，但是股票交个却是一路走高。你确定要买这个股票吗？

In [140]:
# 通过replace 实现删除的功能
old="股票"
new=""
string.replace(old,new)
print('替换后：',string.replace(old,new))
print('替换前：',string)

替换后： 这个非常奇怪，虽然各类指标都不是太好，但是交个却是一路走高。你确定要买这个吗？
替换前： 这个股票非常奇怪，虽然各类指标都不是太好，但是股票交个却是一路走高。你确定要买这个股票吗？

# 2.7 元组(tuple)

In [142]:
# 元组 通过括号实现
a = ('stock','deposit','fund')
a

('stock', 'deposit', 'fund')

In [143]:
type(a)

tuple

In [145]:
c=(1,'stock',3.55)
c

(1, 'stock', 3.55)

In [146]:
type(c)

tuple

* 元组是不支持修改变动的

In [148]:
a=()
type(a)

tuple

In [149]:
a=(33)
a

33

In [151]:
type(a)

int

In [152]:
# 定义一个单元素的元组(括号中单个取值后面添加一个逗号)
b=(33,)
b

(33,)

In [153]:
type(b)

tuple

In [155]:
a=('stock','deposit','fund','cash')
a

('stock', 'deposit', 'fund', 'cash')

In [156]:
a(0)

TypeError: 'tuple' object is not callable

In [157]:
a[0]

'stock'

In [158]:
a[2:]

('fund', 'cash')

In [159]:
#从倒数第三个开始往后找
a[-3:]

('deposit', 'fund', 'cash')

In [161]:
# 元组中的数据不可修改，所以下面会报错
a[0]='change'

TypeError: 'tuple' object does not support item assignment

* 元组的连接

In [165]:
a = ('stock','deposit','fund')
b = (1,2,3)
c = a + b
c

('stock', 'deposit', 'fund', 1, 2, 3)

In [167]:
# 元组中数据重复n 次
c*2

('stock', 'deposit', 'fund', 1, 2, 3, 'stock', 'deposit', 'fund', 1, 2, 3)

In [169]:
# 计算元组中元素的个数
len(c*2)

12

In [171]:
# 查找某个值在元组中是否存在？
3 in c

True

In [173]:
# 查找3在元组中的位置，只返回查找的第一个的位置
c.index(3)

5

In [175]:
d=c*2
d.index(3)

5

In [176]:
# 从第6个位置开始查找
d.index(3,6)

11

In [181]:
# 变相删除元素中的某个值
a = ('stock','deposit','fund',1,2,3)
print('a中原有的数据：',a)
b = a[:2]+a[3:]
print('变相删除后，b中的数据',b)

a中原有的数据： ('stock', 'deposit', 'fund', 1, 2, 3)
变相删除后，b中的数据 ('stock', 'deposit', 1, 2, 3)

# 2.8 列表

列表的特点
* 方括号
* 可更新

In [185]:
a=['stock','deposit','fund',1,2,3]
a

['stock', 'deposit', 'fund', 1, 2, 3]

In [186]:
type(a)

list

In [188]:
# 获取列表的前两个元素
a[:2]

['stock', 'deposit']

In [189]:
a[2]

'fund'

In [190]:
a[3:]

[1, 2, 3]

In [191]:
type(a[2])

str

In [192]:
type(a[:3])

list

In [193]:
a=['stock','deposit','fund']
b=[1,2,3]
# 两个list 连接
a + b

['stock', 'deposit', 'fund', 1, 2, 3]

In [194]:
# 列表重复n次
b*2

[1, 2, 3, 1, 2, 3]

In [196]:
# 通过extend 进行连接
a = ['stock','deposit','fund']
b = [1, 2, 3]
a.extend(b)
a

['stock', 'deposit', 'fund', 1, 2, 3]

In [198]:
a.append('bond')
a

['stock', 'deposit', 'fund', 1, 2, 3, 'bond', 'bond']

In [200]:
# 通过del 函数删除集合中指定位置的元素
print('before del：', a)
del a[1]
print('after del:',a)

before del： ['stock', 'fund', 1, 2, 3, 'bond', 'bond']
after del: ['stock', 1, 2, 3, 'bond', 'bond']

In [204]:
# 通过remove 删除
a = ['stock','deposit','fund']
print('before remove:', a)
a.remove('stock')
print('after remove:',a)
# 当要删除的内容不存在的时候，会报错
# a.remove('aaaaa')
# print('after remove:',a)

before remove: ['stock', 'deposit', 'fund']
after remove: ['deposit', 'fund']

In [206]:
# 集合中的替换
print('before replace:',a)
a[0] = 'aaa'
print('after replace',a)

before replace: ['deposit', 'fund']
after replace ['aaa', 'fund']

In [211]:
# 统计
print('a = ',a)
c=a*5
# 统计集合c 中‘fund’ 出现的次数
c.count('fund')

a =  ['aaa', 'fund']

5

In [219]:
# 插入一个值
a = ['stock','deposit','fund']
a.insert(1,'lpf')
print(a)

['stock', 'lpf', 'deposit', 'fund']

In [216]:
# 排序
a = ['stock','deposit','fund']
print('before sort:',a)
a.sort()
print('after sort:',a)

before sort: ['stock', 'deposit', 'fund']
after sort: ['deposit', 'fund', 'stock']

In [222]:
# 将元素反序
print('before reverse:',a)
a.reverse()
a

before reverse: ['stock', 'lpf', 'deposit', 'fund']

['fund', 'deposit', 'lpf', 'stock']

# 2.9字典
* 字典使用的是大括号
* 字典既有key，又有value

In [230]:
deposit={"张三":500,"李四":300,"王五":200,"王麻子":100}
deposit

{'张三': 500, '李四': 300, '王五': 200, '王麻子': 100}

In [229]:
type(deposit)

dict

In [232]:
deposit={("张","三"):500,"李四":300,"王五":200,"王麻子":100}

In [ ]:
# 字典中的key 不能是 数组
deposit={["张","三"]:500,"李四":300,"王五":200,"王麻子":100}

In [235]:
data = {'name':'BOB','income':300,'age':34,'comp':'XXX','cost':[200,300,40]}
data

{'name': 'BOB',
 'income': 300,
 'age': 34,
 'comp': 'XXX',
 'cost': [200, 300, 40]}

In [236]:
data['name']

'BOB'

In [237]:
data['age']

34

In [238]:
data['cost']

[200, 300, 40]

In [239]:
data['cost'][1]

300

In [240]:
type(data['cost'])

list

In [241]:
data.keys()

dict_keys(['name', 'income', 'age', 'comp', 'cost'])

In [242]:
data.items()

dict_items([('name', 'BOB'), ('income', 300), ('age', 34), ('comp', 'XXX'), ('cost', [200, 300, 40])])

In [243]:
data.values()

dict_values(['BOB', 300, 34, 'XXX', [200, 300, 40]])

In [248]:
#字典的更新
data = {'name':'BOB','income':300,'age':34,'comp':'XXX','cost':[200,300,40]}
data1={'name':'cart'}
data.update(data1)
#data
data2={"aaa":"bbb"}
#更新的key 不存在的时候不会报错
data.update(data2)
data

{'name': 'cart',
 'income': 300,
 'age': 34,
 'comp': 'XXX',
 'cost': [200, 300, 40],
 'aaa': 'bbb'}

In [250]:
keys={'city1','city2','city3'}
keys

{'city1', 'city2', 'city3'}

In [254]:
# 创建字典,  为所有的key 指定相同的value值
data = data.fromkeys(keys,13)
data

{'city2': 13, 'city1': 13, 'city3': 13}

In [256]:
# 对字典中的key进行排序
data = {'name':'BOB','income':300,'age':34,'comp':'XXX','cost':[200,300,40]}
print(sorted(data.keys()))

['age', 'comp', 'cost', 'income', 'name']

In [257]:
# 清空key 
data = {'name':'BOB','income':300,'age':34,'comp':'XXX','cost':[200,300,40]}
print('before clear:',data)
data.clear()
print('after clear:',data)

before clear: {'name': 'BOB', 'income': 300, 'age': 34, 'comp': 'XXX', 'cost': [200, 300, 40]}
after clear: {}

In [258]:
# 从尾部开始删除key以及value 
data = {'name':'BOB','income':300,'age':34,'comp':'XXX','cost':[200,300,40]}
data.popitem()
data

{'name': 'BOB', 'income': 300, 'age': 34, 'comp': 'XXX'}

In [260]:
# 删除key
data = {'name':'BOB','income':300,'age':34,'comp':'XXX','cost':[200,300,40]}
# data.pop(key) 返回key 对于的value 
data.pop('age')
data

{'name': 'BOB', 'income': 300, 'comp': 'XXX', 'cost': [200, 300, 40]}

In [263]:
# 删除字典， 注意这里不是清空key
data = {'name':'BOB','income':300,'age':34,'comp':'XXX','cost':[200,300,40]}
del data
# 这里删除字典之后，字典就不存在了， 所以下面会报错
#data

NameError: name 'data' is not defined